<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> О Quibbler </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>

    <p> The Quibbler — журнал, издаваемый<a href="https://harrypotter.fandom.com/ru/wiki/%D0%9A%D1%81%D0%B5%D0%BD%D0%BE%D1%84%D0%B8%D0%BB%D0%B8%D1%83%D1%81_%D0%9B%D0%B0%D0%B2%D0%B3%D1%83%D0%B4">Ксенофилиусом Лавгудом. </a></p>
    <h3> Наша миссия - проливать свет на события мира магии и давать объективную картину происходящему. </h3>
    <p> Мы некоммерческая организация, сохраняющая независимость и трезвость взглядов в эпоху массовой цензуры. </p>
    <h3> Наша главная ценность - это Вы, наш дорогой читатель. </h3>
</body>
</html>