<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title> Новость </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>

<body>
    <div class="News">
        <h2> Сириус Блэк — чёрный под стать фамилии? </h2>
        <h3> Автор Снуппи Кронинг</h3>
        <p> Сириус Блэк — не убийца, а карлик-музыкант, основываясь на письме одной из читательниц. </p>
    </div>
</body>
</html>